# Basics

In [1]:
print("Hello")

Hello

In [2]:
print("Hello")
print("World")

Hello
World

In [8]:
print("Hello",end=" ")
print("World")

Hello World

In [4]:
print("Welcome","To","Coding","Blocks")

Welcome To Coding Blocks

In [9]:
print("Welcome","To","Coding","Blocks",sep=" ")

Welcome To Coding Blocks

# Data Types

In [11]:
a=10
b=3.5
c=True
d=1+3j
e="Hello"
print("{} is of type {}".format(a,type(a)),
      "{} is of type {}".format(b,type(b)),
      "{} is of type {}".format(c,type(c)),
      "{} is of type {}".format(d,type(d)),
      "{} is of type {}".format(e,type(e)),sep="\n")

10 is of type <class 'int'>
3.5 is of type <class 'float'>
True is of type <class 'bool'>
(1+3j) is of type <class 'complex'>
Hello is of type <class 'str'>

In [13]:
b=a
print(id(a))
print(id(b))

4367588640
4367588640

In [14]:
c=d

In [15]:
type(c)

complex

# Input, Arithmatic Ops And Conditions

In [19]:
print(1+2)
print(1-2)
print(1*2)
print(1/2)
print(5//2) #Floor Division
print(3**4)

3
-1
2
0.5
2
81

In [20]:
a=10
a=a+1
print(a)

11

In [21]:
a=10
a+=1
print(a)

11

In [22]:
a=10
a++
print(a)

SyntaxError: invalid syntax (<ipython-input-22-025251c513d8>, line 2)

In [23]:
name=input("Enter the name")

Enter the nameRishab

In [24]:
print(name)

Rishab

In [26]:
print(name+" Kapoor")

Rishab Kapoor

In [27]:
print("Hello"+" World")

Hello World

In [28]:
print("Hello"+ 5)

TypeError: can only concatenate str (not "int") to str

In [29]:
print("Hello"+str(5))

Hello5

In [35]:
a=(int)(input("Enter the number"))
print(type(a))
a=a+1
print(a)

Enter the number10
<class 'int'>
11

In [36]:
1==1

True

In [37]:
a=1
b=1.0
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [38]:
1==1.0

True

In [39]:
1==1.5

False

In [40]:
1 is not 1

False

In [43]:
name=input("Enter the name")
if name=="Coding":
    print("Welcome")
elif name=="Blocks":
    print("Welcome")
else:
    print("Dont belong here")

Enter the nameHello
Dont belong here

In [45]:
for i in range(5):
    for j in range(i):
        print("1",end=" ")
    print(end="\n")

1
1 1
1 1 1
1 1 1 1

In [47]:
for i in range(1,5,1):
    print("1 "*i,end="\n")

1
1 1
1 1 1
1 1 1 1

In [50]:
for i in range(1,10,1):
    for j in range(1,i+1):
        print(j,end=" ")
    print(end="\n")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [51]:
for i in range(10):
    print(" "*(10-i),end="")
    for j in range(i+1):
        print(j,end="")
    print(end="\n")

          0
         01
        012
       0123
      01234
     012345
    0123456
   01234567
  012345678
 0123456789

In [52]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [53]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

# Functions

In [54]:
def Hello():
    print("Hello World")

In [55]:
Hello()

Hello World

In [56]:
def FunWithArgs(name):
    print(name)

In [59]:
FunWithArgs(10)

10

In [69]:
def FunWithMoreArgs(a=100,b=200,c=300):
    print(a)
    print(b)
    print(c)

In [70]:
FunWithMoreArgs(b=10,a=20,c=40)

20
10
40

In [71]:
def fact(n):
    if(n==0 or n==1):
        return n
    return n*fact(n-1)

fact(5)

120

In [73]:
def morefun(*args):
    print(args[0])
    print(type(args))
morefun(1,2,3,4,5)

1
<class 'tuple'>

# Data Structures

list

In [74]:
a=[]
print(a)
print(type(a))

[]
<class 'list'>

In [75]:
a=[1,2,"Hello",True,50]
print(a)

[1, 2, 'Hello', True, 50]

In [76]:
print(a[3])

True

In [77]:
print(len(a))

5

In [78]:
a=[2,31,42,11,5]
print(a)
a.sort()#Inplace
print(a)

[2, 31, 42, 11, 5]
[2, 5, 11, 31, 42]

In [80]:
a=[2,31,42,11,5]
print(a)
c=sorted(a)#Not in Place
print(c)
print(a)

[2, 31, 42, 11, 5]
[2, 5, 11, 31, 42]
[2, 31, 42, 11, 5]

In [85]:
a.sort(reverse=True)
print(a)

[42, 31, 11, 5, 2]

In [86]:
a.reverse()
print(a)

[2, 5, 11, 31, 42]

In [87]:
d=[45,32,11,10]
d.reverse()
print(d)

[10, 11, 32, 45]

In [91]:
a=[1,2,3,4,5]
a.append(6)
a.remove(2)
a.insert(1,300)
a.pop()
print(a)

[1, 300, 3, 4, 5]

In [93]:
s="    Hello World       "
print(len(str))

22

In [94]:
print(s.lstrip())
print(s.rstrip())
print(s.strip())

Hello World
    Hello World
Hello World

In [95]:
a=[10,20,30,40,50]
print(a)

[10, 20, 30, 40, 50]

In [96]:
a[:3]#sliced part,last index not included

[10, 20, 30]

In [97]:
a[:]# entire list

[10, 20, 30, 40, 50]

In [100]:
print(a[:-1])
print(a[-1])

[10, 20, 30, 40]
50

In [101]:
a[-1:]

[50]

In [103]:
a[1:10:2]

[20, 40]

In [104]:
a[-1::-1]

[50, 40, 30, 20, 10]

In [105]:
s="Machine Learning"
print(s[11])

r

In [106]:
print(s[:])

Machine Learning

In [107]:
print(s[3:11:3])

hee

In [108]:
print(s[-1::-1])

gninraeL enihcaM

In [109]:
print(s[-1:-1])

In [110]:
print(s[-1:len(s):-1])

dictionaries

In [111]:
d={"name":"Rishab"}
print(d)
print(type(d))

{'name': 'Rishab'}
<class 'dict'>

In [112]:
d={"India":300,"Aus":200,"China":350}

In [113]:
print(d)

{'India': 300, 'Aus': 200, 'China': 350}

In [114]:
d["India"]

300

In [116]:
d["Aus"]

200

In [119]:
print(d.keys())
print(d.values())

dict_keys(['India', 'Aus', 'China'])
dict_values([300, 200, 350])

In [120]:
d["USA"]=150
print(d)

{'India': 300, 'Aus': 200, 'China': 350, 'USA': 150}

In [123]:
for i in d:
    print("Country is {} and its pop is {}".format(i,d[i]),sep="\n")

Country is India and its pop is 300
Country is Aus and its pop is 200
Country is China and its pop is 350
Country is USA and its pop is 150

Tuples

In [134]:
t=(1,21,3,41,5)
print(t)
print(type(t))

(1, 21, 3, 41, 5)
<class 'tuple'>

In [135]:
print(t[0])

1

In [136]:
print(len(t))

5

In [137]:
print(t)

(1, 21, 3, 41, 5)

In [139]:
#t[2]=10
print(t)
#t.sort()# it will not work
d=sorted(t)
print(d)
print(type(d))

(1, 21, 3, 41, 5)
[1, 3, 5, 21, 41]
<class 'list'>

In [140]:
#Tuple Unpacking
a,b,c,d,e=t
print(a)
print(b)
print(c)
print(d)
print(e)

1
21
3
41
5

In [144]:
#How Zip works?
x=[1,2,3,4]
y=[5,6,7,8]
for x,y in zip(x,y):
    print(x,end=" ")
    print(y)

1 5
2 6
3 7
4 8

Set

In [146]:
s={1,2,3,3,1,2,4}
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [149]:
s1={1,2,3,4,4,5}
s2={3,4}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

{1, 2, 3, 4, 5}
{3, 4}
{1, 2, 5}

# How to Use Modules

In [150]:
import math

In [152]:
print(math.factorial(5))

120

In [153]:
from math import factorial

In [154]:
print(factorial(5))

120

In [155]:
from math import factorial as mf

In [156]:
print(mf(5))

120

In [162]:
def fact(n):
    if n==0 or n==1:
        return n
    print("Hello It is My Custom Factorial Function")
    return n*fact(n-1)

In [159]:
fact(5)

Hello It is My Custom Factorial Function
Hello It is My Custom Factorial Function
Hello It is My Custom Factorial Function
Hello It is My Custom Factorial Function

120

In [164]:
from math import factorial as fact

In [165]:
print(fact(5))

120

OOPS

In [185]:
class Person:
    Total_Count=0
    def __init__(self,name,age):
        self.name=name
        self.age=age
        Person.Total_Count=Person.Total_Count+1
    def showInfo(self):
        print("name is {} and age is {}".format(self.name,self.age))
    def __str__(self):
         return "name is {} and age is {}".format(self.name,self.age)

In [186]:
p1=Person("Saurav",19)
print(p1)
p1.showInfo()
print(Person.Total_Count)
print(p1)

name is Saurav and age is 19
name is Saurav and age is 19
1
name is Saurav and age is 19

In [187]:
p2=Person("Ritik",19)
p2.showInfo()
print(Person.Total_Count)

name is Ritik and age is 19
2

In [188]:
import numpy as np
import pandas as pd
import matplotlib as plt